html, body{
	margin: 0;
	padding: 0;
	}

/* estilo del index */

.pagina {
	text-align: center;
	font-family: 'Maven Pro', sans-serif;
	background-color: #696969;
	

}
.fotos {
	width: 100%;
	height: 750px;
	background-attachment: fixed;
}
.titulos{
	color: black;
	background-color: #FF8C00;
}
.info{
	 margin-top: 100px;
	 color: #DCDCDC;
}

.imagenes{
	width: 500px ; height: 300px;
	border-radius: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding-top: 20px;

	}

.agencia{
	width: 880px ; height: 496px;
	border-radius: 10px;
	margin-right: 20px;
}
.descripcion{
	font-size: 32px;
    color: 	#DCDCDC;
}

.futer{
	color:  #DCDCDC;
}

/* header de todas las paginas */

.modificacion{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10%;
	background-color: #000000

}
.logo{
	cursor: pointer;
	list-style: none;
}

.boton_inicio{
	list-style: none;

}

.boton_inicio li{
	display: inline-block;
	padding: 0px 20px;

}

.boton_inicio li a{
	transition: all 0.3s ease 0s;
}

.boton_inicio li a:hover {
	color: #0088a9;
}

button{
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.8s ease 1s;
}

.button:hover{
background-color: rgba(0, 136, 169, 1);	
}

.texto {
	padding-right: 100px;
	padding-left: 200px;
	background-color: #808080 ;
	font-size: 22px;
	margin-bottom: 50px;
	margin-top: 50px;
	word-spacing: 8px;
	color:  #DCDCDC;
	line-height: 1.5em;

}

/* catalogo de vehiculos */

.contenedor{
	width: 100%;
	margin-top: 1200px;
	height: auto;
	display: flex;
	flex-wrap: wrap; 
	justify-content: center;
	margin: auto;
}

.contenedor .card{
	width: 330px;
	height: 430px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
	background-color: #C0C0C0;
}

.contenedor .card:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}
.contenedor .card img{
	width: 330px;
	height: 220px;
}

.contenedor .card h4{
	font-weight: 600;
}

.contenedor .card p{
	padding: 0 1rem;
	font-size: 16px;
	font-weight: 300;
}

.contenedor .card a {
	font-weight: 500;
	text-decoration: none;
	color: #3498db;
}

.logo {
	padding-top: 20px;
}

li, a, button {
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}	

.contenedor_contacto{
	background-color:rgba(255, 255, 255, 0.3) ;

	backdrop-filter: blur(1px);
	border: solid 1px rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	width: 50%;
	margin: 0 auto;
	padding-bottom: 10px;
	}
/* formulario de contacto */

form.formulario{
	width:60%;
	margin-top: 15px;
	justify-content:center;
	display: flex;
	padding-left: 400px;


	
}

.tablahorarios{
	width: 50%;
	margin-left: 475px;
	

}

.botones {
	letter-spacing: 8px; word-spacing: 5px;
}

/* fotos parrafors y descripciones*/


.imgtrayectoria{
	border-radius: 10px;
}

.agencia1 {
	width: 1200px ; height:500px;

}

.imgtrayectoria{
	width: 100%;
}

/* servicio de postventa*/

.cuadroventa{
	width: 65%;
	margin-left: 330px;
	background-color: #C0C0C0;
	border-radius: 10px;
	backdrop-filter: blur(1px);
	border: solid 1px rgba(255, 255, 255, 0.5);
	margin-top: 15px;
    
	}

	.pagin{
    font-family: 'Maven Pro', sans-serif;
	background-color: #696969;
	}

/* footer */

.futer{
	text-align: center;
	color: black;
}

.repustos{
	background-color: #C0C0C0;
	
	border: solid 1px rgba(255, 255, 255, 0.5);
}

.centercuadro{
	text-align: center;

}

.textoventa{
	font-size: 22px;
	margin-bottom: 50px;
	margin-top: 50px;
	word-spacing: 8px;
	color:  #696969;
	line-height: 1.5em;
	text-align: left;
    padding-left: 12px;
	padding-right: 12px;

}

.textoventa2{
	font-size: 20px;
	word-spacing: 8px;
	color:  black;
	line-height: 1.5em;
	text-align: left;


}

/* diseño mobile*/

@media only screen and (min-width: 0px) and (max-width: 768px) {

/* estilo del index */

.pagina {
	text-align: center;
	font-family: 'Maven Pro', sans-serif;
	background-color: #696969;
	

}
.fotos {
	width: 100%;
	height: 350px;
	
}
.titulos{
	color: black;
	background-color: #FF8C00;
	font-size: 22px;

}
.info{
	 margin-top: 15px;
	 color: #DCDCDC;
	 font-size: 14px;
}

.imagenes{
	width: 250px ; height: 150px;
	border-radius: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding-top: 20px;

	}

.agencia{
	width: 440px ; height: 245px;
	border-radius: 10px;
	margin-right: 20px;
}
.descripcion{
	font-size: 12px;
    color: 	#DCDCDC;
}

.futer{
	color:  #DCDCDC;
}

/* header de todas las paginas */

.modificacion{
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding: 2.5px 7%;
	background-color: #000000
}
.logo{
	cursor: pointer;
	list-style: none;
}

.boton_inicio{
	list-style: none;

}

.boton_inicio li{
	display: inline-block;
	padding: 0px 10px;
}

.boton_inicio li a{
	transition: all 0.3s ease 0s;
}

.boton_inicio li a:hover {
	color: #0088a9;
}
button{
	padding: 4px 13px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 25px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.button:hover{
background-color: rgba(0, 136, 169, 1);	
}

.texto {
	padding-right: 25px;
	padding-left: 10px;
	background-color: #808080 ;
	font-size: 12px;
	margin-bottom: 25px;
	margin-top: 25px;
	word-spacing: 4px;
	color:  #DCDCDC;
	line-height: 1.5em;

}

/* catalogo de vehiculos */

.contenedor{
	width: 100%;
	margin-top: 1200px;
	height: auto;
	display: flex;
	flex-wrap: wrap; 
	justify-content: center;
	margin: auto;
}

.contenedor .card{
	width: 330px;
	height: 430px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
	background-color: #C0C0C0;
}

.contenedor .card:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}
.contenedor .card img{
	width: 330px;
	height: 220px;
}

.contenedor .card h4{
	font-weight: 600;
}

.contenedor .card p{
	padding: 0 1rem;
	font-size: 16px;
	font-weight: 300;
}

.contenedor .card a {
	font-weight: 500;
	text-decoration: none;
	color: #3498db;
}

.logo {
	padding-top: 20px;
}

li, a, button {
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}	

.contenedor_contacto{
	background-color:rgba(255, 255, 255, 0.3) ;

	backdrop-filter: blur(1px);
	border: solid 1px rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	width: 50%;
	margin: 0 auto;
	padding-bottom: 10px;
	}
/* formulario de contacto */

.formulario{
	width: 700px;
	margin-top: 15px;
	display: flex;
	justify-content:flex-start;
	align-items:center;
}

.tablahorarios{
	width: 50%;
	margin-left: 200px;
	

}

.botones {
	letter-spacing: 8px; word-spacing: 5px;
}

/* fotos parrafors y descripciones*/


.imgtrayectoria{
	border-radius: 10px;
}

.agencia1 {
	width: 600px ; height:250px;

}

.imgtrayectoria{
	width: 100%;
}

/* servicio de postventa*/

.cuadroventa{
	width: 100%;
	margin-left: 170px;
	background-color: #C0C0C0;
	border-radius: 10px;
	backdrop-filter: blur(1px);
	border: solid 1px rgba(255, 255, 255, 0.5);
	margin-top: 15px;
    
	}

	.pagin{
    font-family: 'Maven Pro', sans-serif;
	background-color: #696969;
	}

/* footer */

.futer{
	text-align: center;
	color: black;
	font-size: 12px;
}

.repustos{
	background-color: #C0C0C0;
	
	border: solid 1px rgba(255, 255, 255, 0.5);
}

.centercuadro{
	text-align: center;

}

.textoventa{
	font-size: 12px;
	margin-bottom: 25px;
	margin-top: 25px;
	word-spacing: 8px;
	color:  #696969;
	line-height: 1.5em;
	text-align: left;
	padding-left: 7px;
	padding-right: 7px;


}

.textoventa2{
	font-size: 12px;
	word-spacing: 4px;
	color:  black;
	line-height: 1.5em;
	text-align: left;


}
.formula{
	align-items: center;
	width: 40%;
}
main.cuadroventa{
	
}
}

